<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>自作Todo List</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <div id="app">
    <header>


      <h2>自作アプリに必要な項目
        <span class="info">({{ remaining.length }}/{{ todos.length }})</span>
        <button v-on:click="purge">一括削除</button>
      </h2>
      <p>ToDo
        <input type="text" v-model="newItem" id="inputTodo">
        <button v-on:click="addItem()">追加する</button>
      </p>
      <div id="change">
        <div id="sort">
          <button v-on:click="sortDateRow">追加順</button>   
          <button v-on:click="sortDateReverse">追加逆順</button>   
          <button v-on:click="sortCountRow">進捗順</button>   
          <button v-on:click="sortCountReverse">進捗逆順</button>
          <button v-on:click="sortLimitRow">期限昇順</button>
          <button v-on:click="sortLimitReverse">期限降順</button>
        </div>
        <div>
          <input type="radio" name="filter" id="" value="all" v-model="filter">
          <label for="all">全ての項目</label>
          <input type="radio" name="filter" id="" value="finished" v-model="filter">
          <label for="finished">完了済みの項目</label>
          <input type="radio" name="filter" id="" value="unfinished" v-model="filter">
          <label for="unfinished">未完了の項目</label>
        </div>
      </div>
    </header>

    <ul v-show="todos.length && filter === 'all'">
      <li v-for="(todo,index) in todos"> 

        <div id="title">
          <input type="checkbox" v-model="todo.isDone" v-on:Click="done(index)">
          <input type="text" v-bind:class="{done: todo.isDone}" v-model="todo.item">
        </div>

        <div id="date">
          <p>追加日：{{ todo.date }}</p>
          <p>期限：<input type="date" v-model="todo.limit"></p>                    
        </div>

        
        <textarea id="comment" cols="30" rows="10"  v-model="todo.comment"></textarea>

        <span id="count">
          進捗度：
           <button v-on:click="countUp(index)">+</button>
           {{ todo.count }}
           <button v-on:click="countDown(index)">-</button>
          </span>  

        <button v-on:click="deleteItem(index)" id="delete">削除する</button>
      </li>
    </ul>
    <ul v-show="todos.length && filter === 'finished'">
      <li v-for="(todo,index) in finishedTodos"> 

        <div id="title">
          <input type="checkbox" v-model="todo.isDone" v-on:click="done(index)">
          <input type="text" v-bind:class="{done: todo.isDone}" v-model="todo.item">
        </div>

        <div id="date">
          <p>追加日：{{ todo.date }}</p>
          <p>期限：<input type="date" v-model="todo.limit"></p>                    
        </div>

        
        <textarea id="comment" cols="30" rows="10"  v-model="todo.comment"></textarea>

        <span id="count">
          進捗度：
           <button v-on:click="countUp(index)">+</button>
           {{ todo.count }}
           <button v-on:click="countDown(index)">-</button>
          </span>  

        <button v-on:click="deleteItem(index)" id="delete">削除する</button>
      </li>
    </ul>
    <ul v-show="todos.length && filter === 'unfinished'">
      <li v-for="(todo,index) in unfinishedTodos"> 

        <div id="title">
          <input type="checkbox" v-model="todo.isDone" v-on:click="done(index)">
          <input type="text" v-bind:class="{done: todo.isDone}" v-model="todo.item">
        </div>

        <div id="date">
          <p>追加日：{{ todo.date }}</p>
          <p>期限：<input type="date" v-model="todo.limit"></p>                    
        </div>

        
        <textarea id="comment" cols="30" rows="10"  v-model="todo.comment"></textarea>

        <span id="count">
          進捗度：
           <button v-on:click="countUp(index)">+</button>
           {{ todo.count }}
           <button v-on:click="countDown(index)">-</button>
          </span>  

        <button v-on:click="deleteItem(index)" id="delete">削除する</button>
      </li>
    </ul>
    <ul v-show="!todos.length ||!finishedTodos.length && filter === 'finished' || !unfinishedTodos.length && filter === 'unfinished'">
      <li>予定はありません</li>      
    </ul>
    <pre>{{ $data }}</pre>
    <pre>{{ finishedTodos }}</pre>
    <pre>{{ unfinishedTodos }}</pre>   
  </div>
  

  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="main.js"></script>
</body>
</html>